# * * * * * export $(cat /etc/cron-envvars); COMMAND_TO_EXECUTE > /proc/1/fd/1 2>/proc/1/fd/2
# ┬ ┬ ┬ ┬ ┬
# │ │ │ │ │
# │ │ │ │ │
# │ │ │ │ └───── day of week (0 - 7) (1 to 6 are Monday to Saturday; 0 and 7 are Sunday)
# │ │ │ └────────── month (1 - 12)
# │ │ └─────────────── day of month (1 - 31)
# │ └──────────────────── hour (0 - 23)
# └───────────────────────── min (0 - 59)

* * * * * export $(cat /etc/cron-envvars); echo "$APP_VERSION: Cron says hello!" > /proc/1/fd/1 2>/proc/1/fd/2
