#############################
### System files
#############################

/**/*~
/**/.DS_Store

#############################
### IDE
#############################

/.idea/
/*.sublime-project
/*.sublime-workspace
